extends layout

block content
  table.u-full-width
    tr
      th Name
      th Center
      th Teacher(s)
      th Where
      th When
      th Days
      th Tradition
      th Cost
    each retreat in retreats
      tr(onclick="window.open('#{retreat.url}','_blank');")
        td #{retreat.name}
        td #{retreat.center}
        td #{retreat.teacher}
        td #{retreat.cityState} #{retreat.country} 
        td #{new Date(retreat.startsOn).toDateString()}
        td #{retreat.daysLong}
        td #{retreat.tradition}
        td $#{retreat.price}
        
        //- td 
        //-   a(href="/retreats/edit/#{retreat._id}") Edit
