extends layout

block content
  .u-pull-right #{retreats.length} Upcoming Retreats
  table.u-full-width
    tr
      th Days
      //- th Name
      th Tradition
      th Center
      th 
        i.icon.ion-arrow-down-b 
        | When
      th Where
      th Teacher(s)
      th Cost
    each retreat in retreats
      tr(onclick="window.open('#{retreat.url}','_blank');" data-id="#{retreat._id}")
        td.text-center #{retreat.daysLong}
        //- td #{retreat.name}
        td #{retreat.tradition}
        td #{retreat.center}
        td #{new Date(retreat.startsOn).toDateString()}
        td #{retreat.cityState} #{retreat.country} 
        td #{retreat.teacher}
        td $#{retreat.price}
        
        //- td 
        //-   a(href="/retreats/edit/#{retreat._id}") Edit
