
.row
  .columns.six
    legend Retreat Information
    label Retreat Name*
    input.u-full-width(type="text" name="name" value="#{retreat.name || ''}" autofocus='true' required)
    label Link to Retreat Webpage (Url)*
    input.u-full-width(type="url" name="url" value="#{retreat.url || ''}" placeholder="https://www.retreats.com/retreat/12" required)
    .row
      .columns.nine
        label Starts On*
        .row
          .columns.five
            select.u-full-width(name="startsOnMonth" value="#{retreat.startsOnMonth || ''}" required)
              option(value="")  - Month - 
              option(value='1') January
              option(value='2') Febuary
              option(value='3') March
              option(value='4') April
              option(value='5') May
              option(value='6') June
              option(value='7') July
              option(value='8') August
              option(value='9') September
              option(value='10') October
              option(value='11') November
              option(value='12') December
          .columns.three
            select.u-full-width(name="startsOnDay" value="#{retreat.startsOnDay || ''}" required)
              option(value="")  - Day - 
              option(value='1') 1
              option(value='2') 2
              option(value='3') 3
              option(value='4') 4
              option(value='5') 5
              option(value='6') 6
              option(value='7') 7
              option(value='8') 8
              option(value='9') 9
              option(value='10') 10
              option(value='11') 11
              option(value='12') 12
              option(value='13') 13
              option(value='14') 14
              option(value='15') 15
              option(value='16') 16
              option(value='17') 17
              option(value='18') 18
              option(value='19') 19
              option(value='20') 20
              option(value='21') 21
              option(value='22') 22
              option(value='23') 23
              option(value='24') 24
              option(value='25') 25
              option(value='26') 26
              option(value='27') 27
              option(value='28') 28
              option(value='29') 29
              option(value='30') 30
              option(value='31') 31
          .columns.four
            select.u-full-width(name="startsOnYear" value="#{retreat.startsOnYear || ''}" required)
              option(value="")  - Year - 
              option(value='2016') 2016
              option(value='2017') 2017
              option(value='2018') 2018
      .columns.three
        label Days Long*
        input.u-full-width(type="number" name="daysLong" value="#{retreat.daysLong || ''}" required min='2')
    .row
      .columns.twelve
        label
          input(type='checkbox' name="repeats" value="#{retreat.repeats || ''}")
          | Retreat repeats yearly?
    label Tradition*
    select.u-full-width(name="tradition" value="#{retreat.tradition || ''}" required)
      option(value="")  - Select Tradition - 
      option(value='Zen') Zen
      option(value='Theravada') Theravada
      option(value='Vipassana') Vipassana
      option(value='Tibetan') Tibetan
      option(value='MBSR') Mindfulness Based Stress Reduction (MBSR)
      option(value='Hindu/Vedic') Hindu/Vedic
      option(value='TM') Transcendental Meditation (TM)
      option(value='Yogic') Yogic
      option(value='Christian') Christian
      option(value='Guided') Guided
    label Teacher(s)
    input.u-full-width(type="text" name="teacher" value="#{retreat.teacher || ''}")
    label Suggested Total Price (e.g. "$530", "$250")*
    input.u-full-width(type="text" name="price" placeholder="$400" value="#{retreat.price || ''}" required)
  .columns.six
    legend Center Information
    label Meditation Center or Location Name*
    input.u-full-width(type="text" name="center" value="#{retreat.center || ''}" required)
    label Address*
    input.u-full-width(type="text" name="address" value="#{retreat.address || ''}" required)
    label City & State*
    input.u-full-width(type="text" name="cityState" value="#{retreat.cityState || ''}" required)
    label Postal Code*
    input.u-full-width(type="text" name="postalCode" value="#{retreat.postalCode || ''}" required)
    label Country*
    input.u-full-width(type="text" name="country" value="#{retreat.country || ''}" required)
    //- label Registrar's Phone Number
    //- input.u-full-width(type="text" name="phone" value="#{retreat.phone || ''}")
    label Registrar's Email Address
    input.u-full-width(type="email" name="email" value="#{retreat.email || ''}")
  .u-text-right
    button.button.button-primary Publish Retreat